<div class="container">
	<footer class="footer">
		<small>
			Copyright &copy; The complete Ruby on Rails site by <a href="#">Haritsinh Gohil</a>
		</small>
		<nav>
			<ul>
				<li><%= link_to "about" ,about_path %></li>
			</ul>
		</nav>
	</footer>
</div>